Repository zhuyue6/map-service: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: 构建工具移至根目录
  package.json
  packages/docs/router.ts
  packages/map2d-app/package.json
  packages/map2d-app/serve/src/index.ts
  packages/map2d-app/serve/src/router/index.ts
  packages/map2d-app/tailwind.config.js
  packages/map2d-app/tsconfig.json
  packages/map2d/package.json
  packages/map2d/postcss.config.js
  packages/map2d/serve/src/App.vue
  packages/map2d/tailwind.config.js
  packages/map2d/tsconfig.json
  packages/map2d/vite.config.ts
  packages/map3d/package.json
  packages/map3d/postcss.config.js
  packages/map3d/src/lifecycle/index.ts
  packages/map3d/tailwind.config.js
  packages/map3d/tsconfig.json
  packages/map3d/vite.config.ts
  pnpm-lock.yaml
  postcss.config.js
  scripts/build.js
  scripts/common.js
  scripts/dev.js
  tailwind.config.js
  tsconfig.base.json
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

fix: husky
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: prettier
  .prettierrc.yaml
Due: prettier --write

docs: 补充readme
  readme.md
Due: none

fix: 构建新增dts
  package.json
  packages/core/package.json
  packages/docs/map2d/container/index.md
  packages/map2d-app/package.json
  packages/map2d/package.json
  packages/map2d/serve/src/App.vue
  packages/map2d/src/container/elements/common.ts
  packages/map2d/src/container/elements/types.ts
  packages/map2d/src/interactive/interactiveManager.ts
  packages/map2d/src/style/index.ts
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --write

fix: app引用使用npm包
  packages/map2d-app/package.json
  packages/map2d-app/readme.md
  packages/map2d-app/serve/src/pages/map/index.vue
  packages/map2d-app/tsconfig.json
  packages/map2d/package.json
  packages/map2d/readme.md
  pnpm-lock.yaml
  scripts/build.js
  tsconfig.base.json
Due: eslint --fix, prettier --write

fix: update version
  package.json
  packages/core/package.json
  packages/map2d-app/package.json
  packages/map2d/package.json
Due: prettier --write

feat: 更新入口core
  .gitignore
  package.json
  packages/core/package.json
  packages/core/readme.md
  packages/core/src/index.ts
  packages/core/src/styles/index.scss
  packages/map2d-app/package.json
  packages/map2d-app/readme.md
  packages/map2d-app/src/app.ts
  packages/map2d-app/src/index.ts
  packages/map2d/package.json
  packages/map2d/readme.md
  pnpm-lock.yaml
  scripts/build.js
  vite.config.ts
Due: eslint --fix, prettier --write

Create jekyll-gh-pages.yml
  .github/workflows/jekyll-gh-pages.yml
Due: none

Update jekyll-gh-pages.yml
  .github/workflows/jekyll-gh-pages.yml
Due: none

feat: 添加git pages action ci
  .github/workflows/ci.yml
Due: none

fix: 新增测角度、多选等功能
  packages/docs/.vitepress/config.mts
  packages/docs/map2d/interactive/draw.md
  packages/docs/map2d/interactive/index.md
  packages/docs/map2d/interactive/measure.md
  packages/docs/map2d/interactive/modify.md
  packages/docs/map2d/interactive/move.md
  packages/docs/map2d/interactive/select.md
  packages/map2d/src/container/baseMap.ts
  packages/map2d/src/container/elements/common.ts
  packages/map2d/src/container/elements/element.ts
  packages/map2d/src/container/elements/types.ts
  packages/map2d/src/container/index.ts
  packages/map2d/src/container/layers.ts
  packages/map2d/src/events/emitter.ts
  packages/map2d/src/events/index.ts
  packages/map2d/src/events/map.ts
  packages/map2d/src/index.ts
  packages/map2d/src/interactive/draw.ts
  packages/map2d/src/interactive/interactiveManager.ts
  packages/map2d/src/interactive/measure.ts
  packages/map2d/src/interactive/modify.ts
  packages/map2d/src/interactive/move.ts
  packages/map2d/src/interactive/select.ts
  packages/map2d/src/style/index.ts
  packages/map2d/src/view/index.ts
Due: eslint --fix, prettier --write

feat: 新增缩放插件和排列插件
  packages/docs/map2d-app/elements/ap.md
  packages/docs/map2d-app/elements/index.md
  packages/docs/map2d-app/tools/draw.md
  packages/docs/map2d-app/tools/edit.md
  packages/docs/map2d-app/tools/history.md
  packages/docs/map2d-app/tools/measure.md
  packages/docs/map2d-app/tools/modify.md
  packages/docs/map2d-app/tools/move.md
  packages/docs/map2d-app/tools/select.md
  packages/docs/map2d/container/baseMap.md
  packages/docs/map2d/container/index.md
  packages/docs/router.ts
  packages/map2d-app/src/app.ts
  packages/map2d-app/src/elements/area.ts
  packages/map2d-app/src/elements/common.ts
  packages/map2d-app/src/elements/element.ts
  packages/map2d-app/src/elements/elevator.ts
  packages/map2d-app/src/elements/index.ts
  packages/map2d-app/src/elements/roadNetwork.ts
  packages/map2d-app/src/elements/shelves.ts
  packages/map2d-app/src/elements/types.ts
  packages/map2d-app/src/index.ts
  packages/map2d-app/src/setup/plugin.ts
  packages/map2d-app/src/shared/util.ts
  packages/map2d-app/src/tools/draw.ts
  packages/map2d-app/src/tools/edit.ts
  packages/map2d-app/src/tools/event.ts
  packages/map2d-app/src/tools/history.ts
  packages/map2d-app/src/tools/index.ts
  packages/map2d-app/src/tools/measure.ts
  packages/map2d-app/src/tools/modify.ts
  packages/map2d-app/src/tools/move.ts
  packages/map2d-app/src/tools/rank.ts
  packages/map2d-app/src/tools/scale.ts
  packages/map2d-app/src/tools/select.ts
  packages/map2d-app/src/tools/tool.ts
  packages/map2d-app/src/types.ts
Due: eslint --fix, prettier --write

docs: 更新文档
  package.json
  packages/core/package.json
  packages/docs/.vitepress/config.mts
  packages/docs/config.mts
  packages/docs/map2d/interactive/draw.md
  packages/docs/map2d/interactive/move.md
  packages/docs/map2d/view.md
  packages/docs/package.json
  pnpm-lock.yaml
Due: prettier --write

docs: rank/scale 文档
  packages/docs/map2d-app/tools/rank.md
  packages/docs/map2d-app/tools/scale.md
Due: none

fix: 样式修改成安全添加
  package.json
  packages/docs/.vitepress/config.mts
  packages/map2d/src/interactive/measure.ts
  packages/map2d/src/interactive/select.ts
  packages/map2d/src/shared/util.ts
  scripts/preview.js
Due: eslint --fix, prettier --write

fix: 发布脚本
  .changeset/README.md
  .changeset/config.json
  .github/workflows/ci.yml
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs/package.json
  packages/map2d-app/CHANGELOG.md
  packages/map2d-app/package.json
  packages/map2d/CHANGELOG.md
  packages/map2d/package.json
  packages/map3d/package.json
  pnpm-lock.yaml
  scripts/publish.js
Due: eslint --fix, prettier --write

fix: 发布脚本修复
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs/map2d-app/install.md
  packages/docs/map2d-app/tools/index.md
  packages/docs/map2d/install.md
  packages/docs/package.json
  packages/map2d-app/CHANGELOG.md
  packages/map2d-app/package.json
  packages/map2d-app/src/tools/event.ts
  packages/map2d/CHANGELOG.md
  packages/map2d/package.json
  packages/map2d/src/interactive/interactiveManager.ts
  packages/map2d/src/style/index.ts
  pnpm-lock.yaml
  scripts/build.js
  scripts/common.js
  scripts/preview.js
  scripts/publish.js
Due: eslint --fix, prettier --write

docs: version v0.2.2
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,vue}
  prettier --write: (any of: *.{ts,tsx,js,jsx,vue}) or (any of: *.{yaml,json,css,less,scss})
